.area {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  border: solid 1px $color-gray-light;

  &.normal {
    @media all and (max-width: $sm) {
      transform: scale(0.7) translateX(-3px);
    }
    @media all and (max-width: $pre-xs) {
      transform: scale(0.6) translateX(-40px)
    }
    @media all and (max-width: $xs) {
      transform: scale(0.5) translateX(-110px)
    }
  }

  &.hard {
    @media all and (max-width: $sm) {
      transform: scale(0.8) translateX(-3px);
    }
    @media all and (max-width: $pre-xs) {
      transform: scale(0.7) translateX(-60px)
    }
    @media all and (max-width: $xs) {
      transform: scale(0.6) translateX(-110px)
    }
  }

}