.button {
  outline: none;
  border: none;
  padding: 10px;
  height: 44px;
  min-width: 155px;
  border-radius: 5px;

  transition-duration: $transition-duration;

  text-transform: uppercase;
  color: $color-gray-dark;
  font-size: 1.5rem;

  &.enabled {
    background-color: $color-accent;
    cursor: pointer;
    &:active {
      transform: scale(0.95);
    }
  }

  &.disabled {
    background-color: $color-gray-light;
  }

  @media all and (max-width: $md) {
    font-size: 1rem;
  }
  @media all and (max-width: $sm) {
    font-size: .8rem;
  }
}