.dot {
  background: transparent;
  box-sizing: border-box;
  border: solid 1px $active-dot-color;

  &.active {
    background-color: cornflowerblue;
  }
  &.caught {
    background-color: chartreuse;
  }
  &.missed {
    background-color: indianred;
  }
}