.dot {
  background: transparent;
  box-sizing: border-box;
  border: solid 1px $color-gray-light;


  &.active {
    transition-duration: $transition-duration;
    background-color: $color-accent;
    cursor: pointer;

    &:active {
      transform: scale(0.93);
    }
  }
  &.caught {
    background-color: $color-accept;
  }
  &.missed {
    background-color: $color-error;
  }
}