.dot {
  background: transparent;
  box-sizing: border-box;
  border: solid 1px $color-gray-light;

  &.active {
    background-color: $color-accent;
  }
  &.caught {
    background-color: $color-accept;
  }
  &.missed {
    background-color: $color-error;
  }
}