.field {
  outline: none;
  border: none;
  border-radius: 5px;
  height: 44px;
  padding: 0 1rem;
  background-color: $color-gray-light;

  color: $color-gray-dark;
  font-size: 1.5rem;

  caret-color: $color-gray-dark;
}