.leader-board {
  width: 45%;

  &__header-wrapper {
    display: flex;
    height: 44px;
    margin: 5px auto;

    & .leader-board__header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin: 0;
      align-items: center;
      color: $color-gray-dark;

      & .collapse-control {
        color: $color-accent;
        font-size: .8rem;
        cursor: pointer;
      }
    }

  }

  &__content {
    list-style: none;
    padding: 0;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      height: 54px;
      padding: 5px 10px;
      margin: 3px 0;
      background-color: $color-gray-middle;

      color: $color-gray-dark;
      font-size: 1.5rem;
    }
  }
}